
.No {
    color: #228B22;
    font-weight: 600;
}

.Yes {
    color: red;
    font-weight: 600;
}

.Pending {
    color: #DAA520;
    font-weight: 600;
}

.pending {
    color: #DAA520;
    font-weight: 600;
}

.unavailable {
    color: #808080;
    pointer-events: none;
    background-color: #f0f0f0;
    font-weight: 600;
}

.decision-maker__name {
    color: #333;
}

.not-current-user-row {
    background-color: #d9d9d9;
}

.project-table .not-current-user-row td:hover {
    background-color: inherit;
    cursor: default;
}
